<mat-card class="container mt-2">
  <h1 class="text-primary text-center pt-1">NGRX</h1>
  <p class="text-center">Reactive State for Angular</p>
  <div class="row mb-2">
    <div class="col-4"></div>
    <div class="col-4 text-center">
      <button mat-raised-button color="accent" (click)="changeTxt()">
        {{ displayCounterName }}
      </button>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row mb-2">
    <div class="col-4 text-center">
      <app-counter-button></app-counter-button>
    </div>
    <div class="col-4 text-center">
      <app-custom-counter></app-custom-counter>
    </div>
    <div class="col-4 text-center">
      <app-counter-display></app-counter-display>
    </div>
  </div>
</mat-card>

<mat-card class=" container mt-3">
  <div class="row mt-2">
    <div class="col-4"></div>
    <div class="col-4 text-center">
      <button mat-raised-button color="primary" class="pt-1">Feed Example</button>&nbsp;
    </div>
    <div class="col-4"></div>
  </div>
  <app-display-feed></app-display-feed>
</mat-card>

<mat-card  class=" container mt-3">
  <div class="row mt-2">
    <div class="col-4"></div>
    <div class="col-4 text-center">
      <button mat-raised-button color="warn" class="pt-1">User Example with NGRX Effects</button>&nbsp;
    </div>
    <div class="col-4"></div>
    <app-display-user></app-display-user>
  </div>
</mat-card>

<router-outlet />
