<h4>Custom-counter component</h4>
<div class="row">
    <div class="col-6">
        <mat-form-field style="width: -webkit-fill-available;" appearance="outline">
            <mat-label>Enter Number</mat-label>
            <input type="number" matInput [(ngModel)]="customcount"/>
        </mat-form-field>
    </div>
    <div class="col-6 row">
        <div class="col-6">
            <button mat-raised-button color="accent" (click)="plus()">Plus</button>
        </div>
        <div class="col-6">
            <button mat-raised-button color="accent" (click)="minus()">Minus</button>
        </div>
    </div>
</div>
